<ul>
  <li><%= tab_to t('.dashboard', :default => 'Dashboard'), [{:controller => "dashboard" }] %></li>
  <li style="float: right;"><%= tab_to t('.clients', :default => 'Clients'), [{:controller => "clients" }] %></li>
</ul>

